# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Temporary screenshots & debug crops
screenshot_*.png
test_*.png
crop_*.png

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
